name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Docker Login
  # You may pin to the exact commit or the version.
  # uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}  # Docker Hub 用户名
        password: ${{ secrets.DOCKER_PASSWORD }}  # Docker Hub 密码
          
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: bash build.sh
